.about {
    
    &-section {

    }

    &__box {
        width: 100%;
        font-size: 90%;
    }

    &__icon {
        font-size: 200%;
        color: $mainColor;
        margin-bottom: 0.5rem;
        text-align: center;
    }
}