.flexbox {

    &-container {
        flex-direction: row;
        justify-content: center safe;

        @mixin atMedium {
            display: flex;
        }
    }

    &-showcase__container {
        display: flex;
        flex-direction: row;
        justify-content: safe;
        flex-wrap: wrap;
        font-size: 0; /* Remove white space/line from in-line elements */

        @mixin atSmall {
            flex-wrap: wrap;
        }
    }

    &__office-container {
        display: flex;
        flex-wrap: wrap;
    }

    &__image {
        max-width: 100%;
    }

    &-one-of-four {
        flex: 1 1 50%;
        overflow: hidden;

        @mixin atMedium {
            flex: 1 1 25%;
        }
        
    }

    &-one-of-three {
        flex: 1 1 20%;
        margin-top: 2rem;
        
        @mixin atSmall {
            margin-top: 2.3rem;
        }
    }



}