.hero-section {
    color: #fff;

    &__image {
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)), url(assets/images/large/annie-spratt-4U9azPdkLOA-unsplash.jpg);
        background-size: cover;
        background-position: center;
        height: 100vh;
        background-attachment: fixed;

        /** background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/assets/images/large/hero-john-dancy-uldC3dkgyns-unsplash.jpg); **/
    }

    &__text-box {
        position: absolute;
        width: 1140px;
        top: 75%;
        left: 50%;
        transform: translate(-50%, -50%);

    }

    &__title {
        font-weight: 300;
        margin: 0;
        font-size: 4.4rem;
        padding-bottom: 2rem;
    }

}