.hero-section {
    
    &-section {
        color: #fff;
    }

    &__imagebox {
        
        width: 100%;
        z-index: 1;
        overflow: hidden;
        background-attachment: fixed;
    }
    &__image {
        /*
        display: block;
        width: 100%;
        
        background-attachment: fixed;
        background-size: cover;
        background-position: center;     
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7));

        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)), url(assets/images/large/annie-spratt-4U9azPdkLOA-unsplash.jpg);
        */

         
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)), url(assets/images/annie-spratt-4U9azPdkLOA-unsplash-3840.jpg);

        background-size: cover;
        background-position: center;
        height: 100vh;
        background-attachment: fixed;
        
    }

    &__text-box {
        position: absolute;
        width: 90%;
        top: 85%;
        left: 50%;
        transform: translate(-50%, -50%);

        @mixin atMedium {
            position: absolute;
            width: 1140px;
            top: 75%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

    }

    &__title {
        font-weight: 300;
        color: #fff;
        margin: 0;
        font-size: 2.2rem;
        padding-bottom: 2rem;

        @mixin atSmall {
            font-size: 2.5rem;
        }

        @mixin atMedium {
            font-size: 4.4rem;
            padding-bottom: 2rem;
        }
    }

}