.office-section {
    &__office {
        margin: 1rem;
    }

    &__image {
        max-width: auto;
        height: 170px;
        width: 250px;
        background-size: cover;
        background-position: center;
        overflow: hidden;
    }

    &__icon--small {
        display: inline-block;
        font-size: 120%; 
        text-align: center;
        margin-right: 1rem;   
        color: $mainColor;

        /* lining up icons and text */
        vertical-align: middle;
        margin-top: -3px;
    }
}

/* Cheltenham Moreton-in-Marsh Stow-on-the-Wold Stroud */