.page-section {
    padding: 4rem 1rem 4rem 1rem;

    @mixin atMedium {
        padding: 4rem 0 4rem 0;
    }

    &--no-padding {
        padding: 0;
    }

    &__headline {
        text-transform: uppercase;
        font-size: 180%;
        word-spacing: 2px;
        text-align: center;
        margin-bottom: 30px;
        letter-spacing: 1px;
    }

    &__headline--contrast {
        color: white;
    }

    &__headline:after {
        display: block;
        height: 2px;
        background-color: $mainColor;
        content: " ";
        width: 100px;
        margin: auto;
        margin-top: 30px;
    }

    &__subheadline {
        text-transform: uppercase;
        font-size: 110%;
        word-spacing: 2px;
        letter-spacing: 1px;
        text-align: center;
        margin: 0.8rem 0;
    }

    &__subheadline:after {
        display: block;
        height: 1px;
        background-color: $mainColor;
        content: " ";
        width: 80px;
        margin: 0.5rem auto 1.2rem auto;
    }

    &__text {
        line-height: 140%;

        &--centered {
            text-align: center;
        }

        &--narrow {
            width: 80%;
            margin: auto;
        }

        &--margin-top {
            margin-top: 2rem;
        }
    }

}