.showcase-section {
    background-color: #f4f4f4;

    &__row {
        list-style: none;
        width: 100%;
  
        @mixin clearfix {}
    }

    &__photo-container {
        display: block;
        float: left;
        width: 25%;
    }

    &__single-photo {
        width: 100%;
        margin: 0;
        overflow: hidden;
    }

    &__photo {
        
        width: 100%;
        height: auto;
        background-size: cover;
        background-position: center;
        overflow: hidden;

        @mixin atSmall {
            opacity: 0.7;
            transform: scale(1.15);
            transition: transform 0.5s, opacity 0.5s;
        }
    }

    &__photo:hover {

        @mixin atSmall {
            opacity: 1;
            transform: scale(1.04);
        }
    }

    &__flexphoto {
        
    }
}