.testimonial {

    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7)), url(/assets/images/hero-john-dancy-uldC3dkgyns-unsplash-3356.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
        @mixin atSmall {
            background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/assets/images/hero-john-dancy-uldC3dkgyns-unsplash-3356.jpg);
        }

    

    &__box {
        background-color: white;
        height: 100%;
        border: 1px solid white;
        border-radius: 10px;
        padding: 2rem 2rem 2rem 2rem;
        margin: 7rem 1rem 1px 1rem;

        @mixin atMedium {
            margin: 2rem 1rem 1px 1rem; 
        }
    }

    &__image {
        width: 160px;
        height: 160px;
        border-radius: 80px;
        overflow: hidden;
        border: 5px solid white;

        position: relative;
        top: -110px;
        margin: 0 auto -100px auto;
    }

    &__name {
        text-align: center;
        margin: 0;
        color: $mainColor;
        font-size: 120%;
    }

    &__text {
        margin-top: 1rem;
        font-style: italic;
        
    }
}